<a href="https://colab.research.google.com/github/PozzOver13/learning/blob/main/data_processing/20231110_tutorial_polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Polars Tutorial üêª

# References  

**official websites**  
https://www.pola.rs/ Polars Website  
https://pola-rs.github.io/polars/user-guide/ Polars User guide  

**talks**  
https://www.youtube.com/watch?v=LGAHTp4DYZY  Juan Luis- Expressive and fast dataframes in Python with polars  
https://www.youtube.com/watch?v=CtkMzCIXOWk  Thomas Bierhance: Polars - make the switch to lightning-fast dataframes   
https://www.youtube.com/watch?v=0rKV-aghHuc Beyond Pandas: lightning fast in-memory dataframes with Polars - Alberto Danese
https://www.youtube.com/watch?v=XsxrhGlkyk0 Is the great dataframe showdown finally over? Enter: polars - Luca Baggi  
https://www.youtube.com/watch?v=DwtbPhbDecQ&list=WL&index=32 Matthew Rocklin - Spark, Dask, DuckDB, and Polars: Benchmarks | PyData NYC 2023
  


**good 2 be known**  
https://wesmckinney.com/blog/apache-arrow-pandas-internals/ Wes McKinney
Blog post on pandas internals  
https://duckdblabs.github.io/db-benchmark/ Database-like ops benchmark  
https://pandas.pydata.org/docs/user_guide/pyarrow.html - Pandas Arrow backend  
https://aborruso.github.io/posts/duckdb-intro-csv/ - Gestire file CSV grandi, brutti e cattivi Andrea Borruso  
https://www.hopsworks.ai/post/pandas2-and-polars-for-feature-engineering?utm_source=substack&utm_medium=email Pandas2 and Polars for Feature Engineering  
https://www.emilyriederer.com/post/py-rgo-polars/?utm_campaign=Data_Elixir&utm_source=Data_Elixir_468 polars‚Äô Rgonomic Patterns  
https://blog.tidy-intelligence.com/posts/dplyr-vs-polars/ Tidy Data Manipulation: dplyr vs polars

# Introduction

## What is Polars?

Polars is a fast and efficient DataFrame library for the Python programming language. It is designed to provide high-performance data manipulation and analysis capabilities similar to those offered by popular libraries like Pandas, but with a focus on speed and parallel processing.

Key features of Polars include:
1. **Performance**: Polars is built with performance in mind and is optimized for speed. It aims to provide faster data processing compared to Pandas, especially for large datasets.
1. **Lazy Evaluation**: Polars uses lazy evaluation, which means that operations are not immediately executed. Instead, they are recorded as a query plan, allowing for optimization and efficient execution of operations.
1. **Parallel Processing**: Polars is designed to take advantage of parallel processing and multicore systems, which can significantly speed up data manipulation tasks.
1. **Memory Efficiency**: Polars is optimized for memory efficiency, allowing users to work with large datasets without running into memory constraints.
1. **Expressive API**: Polars provides a concise and expressive API for working with data, making it easy to perform common data manipulation tasks.
1. **Integration with Arrow**: Polars leverages the Apache Arrow project for efficient in-memory columnar data representation, enabling seamless interoperability with other systems and libraries that support Arrow.

## Why it is worth to know it?

1.   Performance
1.   Syntax

**7 verbs get most jobs done (who's thinking to Dplyr?)**


```python
# select / slice columns
select
# create / transform / assign columns
with_columns
# filter / slice / query rows
filter
# join / merge another dataframe
join
# group dataframe rows
groupby
# aggregate groups
agg
# sort dataframe
sort
```

## What is Rust?

Rust is a programming language that is focused on providing performance, reliability, and safety. It was designed by Mozilla and first announced in 2010. Rust is often praised for its memory safety guarantees, zero-cost abstractions, and strong type system. It is intended for systems-level programming where low-level control over system resources and high performance are crucial.

Key features of Rust include:

1. **Memory Safety:** Rust uses a system of ownership, borrowing, and lifetimes to enforce memory safety without the need for a garbage collector. This helps prevent common programming errors like null pointer dereferencing and data races.
2. **Concurrency without Data Races:** Rust has a concurrency model that allows for safe and concurrent programming by avoiding data races. The ownership system helps prevent multiple threads from accessing the same data simultaneously, reducing the likelihood of bugs related to parallelism.
3. **Zero-Cost Abstractions:** Rust provides high-level abstractions without sacrificing performance. The language aims to eliminate the trade-off between high-level programming constructs and low-level control over system resources.
4. **Cargo Build System:** Rust comes with a build tool called Cargo, which makes it easy to manage dependencies, build projects, and run tests. Cargo simplifies the process of creating, building, and distributing Rust projects.
5. **Pattern Matching:** Rust includes a powerful pattern matching system that makes it expressive and allows for concise and readable code.
6. **C and C++ Interoperability:** Rust can be integrated with existing C and C++ codebases, allowing for gradual adoption or collaboration with projects written in these languages.
7. **Community and Ecosystem:** Rust has a growing and active community, and it is supported by a rich ecosystem of libraries and tools. The community values documentation, and Rust projects often come with well-documented code.

Rust has gained popularity for its focus on safety and performance, making it suitable for a wide range of applications, including system-level programming, embedded systems, and performance-critical applications. It is often used in projects where both low-level control and modern language features are important.

## Data Wrangling Alternatives?

1. **Pandas:**
   - **Overview:** Pandas is one of the most widely used data manipulation libraries in Python. It provides high-performance, easy-to-use data structures such as DataFrames for data analysis and manipulation.
   - **Strengths:** Great for exploratory data analysis, cleaning, and transformation. It has a large and active community.
   - **Considerations:** While Pandas is powerful, it might struggle with very large datasets due to its in-memory nature.

2. **Apache Arrow:**
   - **Overview:** Apache Arrow is a cross-language development platform for in-memory data that specifies a standardized language-independent columnar memory format for flat and hierarchical data.
   - **Strengths:** Efficient in-memory representation, supports multiple languages, and facilitates high-speed data interchange.
   - **Considerations:** While Arrow is crucial for interoperability, it doesn't provide the full range of data manipulation operations found in libraries like Pandas.

3. **Dask:**
   - **Overview:** Dask is a parallel computing library that integrates with existing Python libraries like NumPy, Pandas, and Scikit-Learn to enable parallel processing for larger-than-memory computations.
   - **Strengths:** Scales from a laptop to a cluster, enabling parallel and distributed computing. It's particularly useful for handling larger-than-memory datasets.
   - **Considerations:** Dask integrates with Pandas, but it doesn't replace Pandas; it extends its capabilities to larger datasets.

Other alternatives you might want to explore include:

4. **Vaex:**
   - **Overview:** Vaex is a Python library for lazy, out-of-core DataFrames. It aims to provide a Pandas-like API but with the ability to work with datasets larger than memory.
   - **Strengths:** Designed for handling larger-than-memory datasets, lazy evaluation for efficiency, and fast performance.

5. **Modin:**
   - **Overview:** Modin is a library that seeks to accelerate Pandas workflows by providing parallel and distributed computing capabilities.
   - **Strengths:** It allows you to scale your Pandas workflows using Dask or Ray, providing increased performance for some operations.

## Performance
https://duckdblabs.github.io/db-benchmark/

# Pandasüêº vs Polarsüêª

In [1]:
!python --version

Python 3.10.12

In [2]:
!pip install polars==0.20.4

Collecting polars==0.20.4
  Downloading polars-0.20.4-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 28.6/28.6 MB 33.6 MB/s eta 0:00:00
Installing collected packages: polars
  Attempting uninstall: polars
    Found existing installation: polars 0.17.3
    Uninstalling polars-0.17.3:
      Successfully uninstalled polars-0.17.3
Successfully installed polars-0.20.4

## Importing libraries

In [3]:
import pandas as pd
import polars as pl
import numpy as np

# Mount your Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
TRAIN_CSV_PATH = "/content/drive/MyDrive/Personale/Dataset/finance_loan_approval/train.csv"
TEST_CSV_PATH = "/content/drive/MyDrive/Personale/Dataset/finance_loan_approval/test.csv"

## Reading Files

https://pola-rs.github.io/polars/user-guide/basics/reading-writing/

In [5]:
# Read the CSV file into a pandas DataFrame
train_pd = pd.read_csv(TRAIN_CSV_PATH)
train_pl = pl.read_csv(TRAIN_CSV_PATH, infer_schema_length=10000) # without infer_schema_length generates an error interpreting a column as i64 instead of float

## Types & Memory Usage

Polars is entirely based on Arrow data types and backed by Arrow memory arrays. This makes data processing cache-efficient and well-supported for Inter Process Communication. Most data types follow the exact implementation from Arrow, with the exception of Utf8 (this is actually LargeUtf8), Categorical, and Object (support is limited).  
https://pola-rs.github.io/polars/user-guide/concepts/data-types/  

https://pola-rs.github.io/polars/user-guide/concepts/data-structures/

### is there an equivalent of pandas "memory_usage" method  in polars?

As of my last knowledge update in January 2022, Polars does not have an exact equivalent method to Pandas' `memory_usage` for directly calculating the memory usage of a DataFrame. However, you can achieve similar results by using other approaches.

In Pandas, the `memory_usage` method provides information about the memory usage of each column in a DataFrame. Polars, being designed for efficient memory usage, may not expose a direct method for this purpose. However, you can estimate memory usage in Polars using alternative methods:

1. **Using the `memory_usage()` Method in Pandas:**
   If you have a Polars DataFrame and want to estimate memory usage, you can convert it to a Pandas DataFrame temporarily and use the Pandas `memory_usage` method. Here's an example:

   ```python
   import pandas as pd
   import polars as pl

   # Create a Polars DataFrame
   polars_df = pl.DataFrame({
       'A': [1, 2, 3],
       'B': ['foo', 'bar', 'baz']
   })

   # Convert to Pandas DataFrame and use memory_usage
   pandas_df = polars_df.to_pandas()
   memory_usage = pandas_df.memory_usage(deep=True)
   print(memory_usage)
   ```

   Note that the `deep=True` argument in `memory_usage` considers the memory usage of the underlying objects, which can be more accurate but also more computationally expensive.

2. **Estimating Memory Usage in Polars:**
   While there may not be a dedicated method for memory usage in Polars, you can get an estimate of the size of a DataFrame using the `arrow_memory_size` method. This method returns the size of a `RecordBatch` in bytes. While it's not an exact memory usage for the DataFrame, it can give you an idea of the memory footprint.

   ```python
   import polars as pl

   # Create a Polars DataFrame
   polars_df = pl.DataFrame({
       'A': [1, 2, 3],
       'B': ['foo', 'bar', 'baz']
   })

   # Get an estimate of the memory usage
   memory_size_estimate = polars_df.arrow_memory_size()
   print(f"Estimated memory usage: {memory_size_estimate} bytes")
   ```

   Keep in mind that these approaches provide estimates, and the actual memory usage may depend on various factors, including the data types of the columns and other internal optimizations performed by the library. Always consider the specific requirements of your use case when estimating memory usage. Additionally, check the Polars documentation for any updates or new methods related to memory usage that may have been introduced after my last knowledge update.

### schemas

In [6]:
train_pl.schema

OrderedDict([('Loan_ID', String),
             ('Gender', String),
             ('Married', String),
             ('Dependents', String),
             ('Education', String),
             ('Self_Employed', String),
             ('ApplicantIncome', Int64),
             ('CoapplicantIncome', Float64),
             ('LoanAmount', Int64),
             ('Loan_Amount_Term', Int64),
             ('Credit_History', Int64),
             ('Property_Area', String),
             ('Loan_Status', String)])

In [7]:
train_pd.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [8]:
def print_memory_usage(df):
    mem_MB = df.memory_usage(index=True, deep=True).sum() / 1024 / 1024
    print(f"memory used: {mem_MB:.1f} MB")
    # return df

In [9]:
print_memory_usage(train_pd)

memory used: 0.3 MB

In [10]:
# using the previous steps to extract the schema
dset_schema = train_pl.schema
train_pl = pl.read_csv(TRAIN_CSV_PATH, dtypes=dset_schema)

## Heading

In [11]:
train_pd.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [12]:
train_pl.head(3)

shape: (3, 13)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Loan_ID  ‚îÜ Gender ‚îÜ Married ‚îÜ Dependents ‚îÜ ‚Ä¶ ‚îÜ Loan_Amoun ‚îÜ Credit_His ‚îÜ Property_A ‚îÜ Loan_Statu ‚îÇ
‚îÇ ---      ‚îÜ ---    ‚îÜ ---     ‚îÜ ---        ‚îÜ   ‚îÜ t_Term     ‚îÜ tory       ‚îÜ rea        ‚îÜ s          ‚îÇ
‚îÇ str      ‚îÜ str    ‚îÜ str     ‚îÜ str        ‚îÜ   ‚îÜ ---        ‚îÜ ---        ‚îÜ ---        ‚îÜ ---        ‚îÇ
‚îÇ          ‚îÜ        ‚îÜ         ‚îÜ            ‚îÜ   ‚îÜ i64        ‚îÜ i64        ‚îÜ str        ‚îÜ str        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ LP001002 ‚îÜ Male   ‚îÜ No      ‚îÜ 0          ‚îÜ ‚Ä¶ ‚îÜ 360        ‚îÜ 1          ‚îÜ Urban      ‚îÜ Y          ‚îÇ
‚îÇ LP001003 ‚îÜ Male   ‚îÜ Yes     ‚îÜ 1          ‚îÜ ‚Ä¶ ‚îÜ 360        ‚îÜ 1          ‚îÜ Rural      ‚îÜ N          ‚îÇ
‚îÇ LP001005 ‚îÜ Male   ‚îÜ Yes     ‚îÜ 0          ‚îÜ ‚Ä¶ ‚îÜ 360        ‚îÜ 1          ‚îÜ Urban      ‚îÜ Y          ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

## Unique Values

**Count unique values**
There are two ways to count unique values in Polars: an exact methodology and an approximation. The approximation uses the HyperLogLog++ algorithm to approximate the cardinality and is especially useful for very large datasets where an approximation is good enough.

https://pola-rs.github.io/polars/user-guide/expressions/functions/#count-unique-values

In [13]:
print('Gender', train_pd['Gender'].nunique())
print('Married', train_pd['Married'].nunique())
print('Property_Area', train_pd['Property_Area'].nunique())

Gender 2
Married 2
Property_Area 3

In [14]:
print('Gender', train_pl['Gender'].n_unique())
print('Married', train_pl['Married'].n_unique())
print('Property_Area', train_pl['Property_Area'].n_unique())

Gender 3
Married 3
Property_Area 3

In [15]:
train_pd['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [16]:
train_pl['Gender'].unique() # in polars i valori missing sono considerati valori oppure e' una questione di lettura?

shape: (3,)
Series: 'Gender' [str]
[
	"Male"
	null
	"Female"
]

In [17]:
train_pd['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [18]:
train_pl['Property_Area'].unique()

shape: (3,)
Series: 'Property_Area' [str]
[
	"Urban"
	"Rural"
	"Semiurban"
]

## Grouping

In [19]:
train_pd.groupby(['Gender', 'Married'], dropna=False).size().to_frame('N').reset_index()

   Gender Married    N
0  Female      No   80
1  Female     Yes   31
2  Female     NaN    1
3    Male      No  130
4    Male     Yes  357
5    Male     NaN    2
6     NaN      No    3
7     NaN     Yes   10

In [20]:
train_pl.groupby(['Gender', 'Married']).count().sort(by='Gender') # unexpected keyword argument 'dropna', object has no attribute 'to_frame'
# non mi sembra ordinato

<ipython-input-20-4f3e1c095b73>:1: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  train_pl.groupby(['Gender', 'Married']).count().sort(by='Gender') # unexpected keyword argument 'dropna', object has no attribute 'to_frame'

shape: (8, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Gender ‚îÜ Married ‚îÜ count ‚îÇ
‚îÇ ---    ‚îÜ ---     ‚îÜ ---   ‚îÇ
‚îÇ str    ‚îÜ str     ‚îÜ u32   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ null   ‚îÜ No      ‚îÜ 3     ‚îÇ
‚îÇ null   ‚îÜ Yes     ‚îÜ 10    ‚îÇ
‚îÇ Female ‚îÜ No      ‚îÜ 80    ‚îÇ
‚îÇ Female ‚îÜ Yes     ‚îÜ 31    ‚îÇ
‚îÇ Female ‚îÜ null    ‚îÜ 1     ‚îÇ
‚îÇ Male   ‚îÜ Yes     ‚îÜ 357   ‚îÇ
‚îÇ Male   ‚îÜ null    ‚îÜ 2     ‚îÇ
‚îÇ Male   ‚îÜ No      ‚îÜ 130   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

# eRgonomics

It‚Äôs the ability to easily do more complex transformations that differentiate a package expert versus novice, and the learning curve for everything that happens after the ‚ÄúGetting Started‚Äù guide ends.

**Tidy design principles**

https://design.tidyverse.org/unifying.html

**TLDR?** We‚Äôll say dplyr‚Äôs ergonomics allow users to express complex transformation precisely, concisely, and expressively.

**Dplyr vs Polars**

For a single dataset:
- Column selection: select() -> select() + drop()
- Creating or altering columns: mutate() -> with_columns()
- Subsetting rows: filter() -> filter()
- Ordering rows: arrange() -> sort()
- Computing group-level summary metrics: group_by() + summarize() -> group_by() + agg()  


For multiple datasets:
- Merging on a shared key: *_join() -> join(strategy = '*')
- Stacking datasets of the same structure: union() -> concat()
- Transforming rows and columns: pivot_{longer/wider}()2 -> pivot()

In [41]:
(
    train_pl
    .with_columns(overall_income = pl.sum_horizontal(pl.col('ApplicantIncome'), pl.col('CoapplicantIncome')))
    .select(['ApplicantIncome', 'CoapplicantIncome', 'overall_income'])
    .head(5)
)

shape: (5, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ApplicantIncome ‚îÜ CoapplicantIncome ‚îÜ overall_income ‚îÇ
‚îÇ ---             ‚îÜ ---               ‚îÜ ---            ‚îÇ
‚îÇ i64             ‚îÜ f64               ‚îÜ f64            ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 5849            ‚îÜ 0.0               ‚îÜ 5849.0         ‚îÇ
‚îÇ 4583            ‚îÜ 1508.0            ‚îÜ 6091.0         ‚îÇ
‚îÇ 3000            ‚îÜ 0.0               ‚îÜ 3000.0         ‚îÇ
‚îÇ 2583            ‚îÜ 2358.0            ‚îÜ 4941.0         ‚îÇ
‚îÇ 6000            ‚îÜ 0.0               ‚îÜ 6000.0         ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [22]:
import polars.selectors as cs

In [23]:
(
    train_pl
    .select(cs.starts_with('A') | cs.string())
    .head(3)
)

shape: (3, 9)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ApplicantIn ‚îÜ Loan_ID  ‚îÜ Gender ‚îÜ Married ‚îÜ ‚Ä¶ ‚îÜ Education ‚îÜ Self_Emplo ‚îÜ Property_A ‚îÜ Loan_Statu ‚îÇ
‚îÇ come        ‚îÜ ---      ‚îÜ ---    ‚îÜ ---     ‚îÜ   ‚îÜ ---       ‚îÜ yed        ‚îÜ rea        ‚îÜ s          ‚îÇ
‚îÇ ---         ‚îÜ str      ‚îÜ str    ‚îÜ str     ‚îÜ   ‚îÜ str       ‚îÜ ---        ‚îÜ ---        ‚îÜ ---        ‚îÇ
‚îÇ i64         ‚îÜ          ‚îÜ        ‚îÜ         ‚îÜ   ‚îÜ           ‚îÜ str        ‚îÜ str        ‚îÜ str        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 5849        ‚îÜ LP001002 ‚îÜ Male   ‚îÜ No      ‚îÜ ‚Ä¶ ‚îÜ Graduate  ‚îÜ No         ‚îÜ Urban      ‚îÜ Y          ‚îÇ
‚îÇ 4583        ‚îÜ LP001003 ‚îÜ Male   ‚îÜ Yes     ‚îÜ ‚Ä¶ ‚îÜ Graduate  ‚îÜ No         ‚îÜ Rural      ‚îÜ N          ‚îÇ
‚îÇ 3000        ‚îÜ LP001005 ‚îÜ Male   ‚îÜ Yes     ‚îÜ ‚Ä¶ ‚îÜ Graduate  ‚îÜ Yes        ‚îÜ Urban      ‚îÜ Y          ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [24]:
(
    train_pl
    .select(~cs.string())
    .head(3)
)

shape: (3, 5)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ApplicantIncome ‚îÜ CoapplicantIncome ‚îÜ LoanAmount ‚îÜ Loan_Amount_Term ‚îÜ Credit_History ‚îÇ
‚îÇ ---             ‚îÜ ---               ‚îÜ ---        ‚îÜ ---              ‚îÜ ---            ‚îÇ
‚îÇ i64             ‚îÜ f64               ‚îÜ i64        ‚îÜ i64              ‚îÜ i64            ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 5849            ‚îÜ 0.0               ‚îÜ null       ‚îÜ 360              ‚îÜ 1              ‚îÇ
‚îÇ 4583            ‚îÜ 1508.0            ‚îÜ 128        ‚îÜ 360              ‚îÜ 1              ‚îÇ
‚îÇ 3000            ‚îÜ 0.0               ‚îÜ 66         ‚îÜ 360              ‚îÜ 1              ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [25]:
(
    train_pl
    .with_columns(row_total = pl.sum_horizontal(cs.integer()))
    .select(cs.integer())
    .head(5)
)

shape: (5, 5)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ ApplicantIncome ‚îÜ LoanAmount ‚îÜ Loan_Amount_Term ‚îÜ Credit_History ‚îÜ row_total ‚îÇ
‚îÇ ---             ‚îÜ ---        ‚îÜ ---              ‚îÜ ---            ‚îÜ ---       ‚îÇ
‚îÇ i64             ‚îÜ i64        ‚îÜ i64              ‚îÜ i64            ‚îÜ i64       ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 5849            ‚îÜ null       ‚îÜ 360              ‚îÜ 1              ‚îÜ 6210      ‚îÇ
‚îÇ 4583            ‚îÜ 128        ‚îÜ 360              ‚îÜ 1              ‚îÜ 5072      ‚îÇ
‚îÇ 3000            ‚îÜ 66         ‚îÜ 360              ‚îÜ 1              ‚îÜ 3427      ‚îÇ
‚îÇ 2583            ‚îÜ 120        ‚îÜ 360              ‚îÜ 1              ‚îÜ 3064      ‚îÇ
‚îÇ 6000            ‚îÜ 141        ‚îÜ 360              ‚îÜ 1              ‚îÜ 6502      ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [42]:
(
    train_pl
    .with_columns(income_by_married = pl.col('ApplicantIncome').mean().over('Married'))
    .select(['Married', 'ApplicantIncome', 'income_by_married'])
    .head(5)
)

shape: (5, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Married ‚îÜ ApplicantIncome ‚îÜ income_by_married ‚îÇ
‚îÇ ---     ‚îÜ ---             ‚îÜ ---               ‚îÇ
‚îÇ str     ‚îÜ i64             ‚îÜ f64               ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ No      ‚îÜ 5849            ‚îÜ 4970.384977       ‚îÇ
‚îÇ Yes     ‚îÜ 4583            ‚îÜ 5629.173367       ‚îÇ
‚îÇ Yes     ‚îÜ 3000            ‚îÜ 5629.173367       ‚îÇ
‚îÇ Yes     ‚îÜ 2583            ‚îÜ 5629.173367       ‚îÇ
‚îÇ No      ‚îÜ 6000            ‚îÜ 4970.384977       ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [55]:
(
    train_pl
    .with_columns(status=pl.when(pl.col('Loan_Status') == "Y").then(0).otherwise(1))
    .filter((pl.col('Property_Area').is_in(['Urban', 'Semiurban'])) &
            (pl.col('LoanAmount').is_not_null()) &
            (pl.col('status') == 1))
    .sort("LoanAmount", descending=True)
    .head(3)
)

shape: (3, 14)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Loan_ID  ‚îÜ Gender ‚îÜ Married ‚îÜ Dependents ‚îÜ ‚Ä¶ ‚îÜ Credit_Histo ‚îÜ Property_Ar ‚îÜ Loan_Status ‚îÜ status ‚îÇ
‚îÇ ---      ‚îÜ ---    ‚îÜ ---     ‚îÜ ---        ‚îÜ   ‚îÜ ry           ‚îÜ ea          ‚îÜ ---         ‚îÜ ---    ‚îÇ
‚îÇ str      ‚îÜ str    ‚îÜ str     ‚îÜ str        ‚îÜ   ‚îÜ ---          ‚îÜ ---         ‚îÜ str         ‚îÜ i32    ‚îÇ
‚îÇ          ‚îÜ        ‚îÜ         ‚îÜ            ‚îÜ   ‚îÜ i64          ‚îÜ str         ‚îÜ             ‚îÜ        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ LP002547 ‚îÜ Male   ‚îÜ Yes     ‚îÜ 1          ‚îÜ ‚Ä¶ ‚îÜ 1            ‚îÜ Urban       ‚îÜ N           ‚îÜ 1      ‚îÇ
‚îÇ LP001610 ‚îÜ Male   ‚îÜ Yes     ‚îÜ 3+         ‚îÜ ‚Ä¶ ‚îÜ 0            ‚îÜ Semiurban   ‚îÜ N           ‚îÜ 1      ‚îÇ
‚îÇ LP002949 ‚îÜ Female ‚îÜ No      ‚îÜ 3+         ‚îÜ ‚Ä¶ ‚îÜ null         ‚îÜ Urban       ‚îÜ N           ‚îÜ 1      ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [57]:
(
    train_pl
    .with_columns(status=pl.when(pl.col('Loan_Status') == "Y").then(0).otherwise(1))
    .group_by("Education")
    .agg(default = pl.col("status").sum(),
         count=pl.col("status").count())
    .with_columns(td = pl.col('default') / pl.col('count'))
)

shape: (2, 4)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Education    ‚îÜ default ‚îÜ count ‚îÜ td       ‚îÇ
‚îÇ ---          ‚îÜ ---     ‚îÜ ---   ‚îÜ ---      ‚îÇ
‚îÇ str          ‚îÜ i32     ‚îÜ u32   ‚îÜ f64      ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Graduate     ‚îÜ 140     ‚îÜ 480   ‚îÜ 0.291667 ‚îÇ
‚îÇ Not Graduate ‚îÜ 52      ‚îÜ 134   ‚îÜ 0.38806  ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

# Expressions

In [27]:
median_applicant_income = (
    pl.col("ApplicantIncome")
    .median()
    .alias("median_ApplicantIncome")
)

In [28]:
median_applicant_income

In [29]:
n_unique_Loan_ID = (
    pl.col("Loan_ID")
    .n_unique()
    .alias("n_unique_Loan_ID")
)

In [30]:
train_pl.select(median_applicant_income)

shape: (1, 1)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ median_ApplicantIncome ‚îÇ
‚îÇ ---                    ‚îÇ
‚îÇ f64                    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 3812.5                 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [31]:
train_pl.select(n_unique_Loan_ID)

shape: (1, 1)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ n_unique_Loan_ID ‚îÇ
‚îÇ ---              ‚îÇ
‚îÇ u32              ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 614              ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [32]:
train_pl.groupby(['Married']).agg(median_applicant_income, n_unique_Loan_ID)

<ipython-input-32-6a6d08b0a272>:1: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  train_pl.groupby(['Married']).agg(median_applicant_income, n_unique_Loan_ID)

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Married ‚îÜ median_ApplicantIncome ‚îÜ n_unique_Loan_ID ‚îÇ
‚îÇ ---     ‚îÜ ---                    ‚îÜ ---              ‚îÇ
‚îÇ str     ‚îÜ f64                    ‚îÜ u32              ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ No      ‚îÜ 3750.0                 ‚îÜ 213              ‚îÇ
‚îÇ Yes     ‚îÜ 3854.5                 ‚îÜ 398              ‚îÇ
‚îÇ null    ‚îÜ 4758.0                 ‚îÜ 3                ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

# Lazyness

In general the lazy API should be preferred unless you are either interested in the intermediate results or are doing exploratory work and don't know yet what your query is going to look like.

https://pola-rs.github.io/polars/user-guide/concepts/lazy-vs-eager/#when-to-use-which

In [33]:
train_pl_lz = pl.scan_csv(TRAIN_CSV_PATH, infer_schema_length=10000)

In [34]:
train_pl_lz.schema

OrderedDict([('Loan_ID', String),
             ('Gender', String),
             ('Married', String),
             ('Dependents', String),
             ('Education', String),
             ('Self_Employed', String),
             ('ApplicantIncome', Int64),
             ('CoapplicantIncome', Float64),
             ('LoanAmount', Int64),
             ('Loan_Amount_Term', Int64),
             ('Credit_History', Int64),
             ('Property_Area', String),
             ('Loan_Status', String)])

In [35]:
q = (
    pl.scan_csv(TRAIN_CSV_PATH, dtypes=dset_schema)
    .filter(pl.col("Married") == "Yes")
    .groupby("Education")
    .agg(median_applicant_income)
)

df_median_applicant_income = q.collect()

<ipython-input-35-ea24ba2ea6d2>:4: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby("Education")

In [36]:
q

In [37]:
df_median_applicant_income

shape: (2, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Education    ‚îÜ median_ApplicantIncome ‚îÇ
‚îÇ ---          ‚îÜ ---                    ‚îÇ
‚îÇ str          ‚îÜ f64                    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ Not Graduate ‚îÜ 3333.0                 ‚îÇ
‚îÇ Graduate     ‚îÜ 4106.0                 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [38]:
# sink